.tribe-editor__attendee-registration__label-with-modal .tribe-editor__labeled-item__label {

	.tribe-editor__ticket--disabled & {
		color: #AEB4BB;
	}
}

.tribe-editor__ticket__attendee-registration-helper-text {

	.tribe-editor__ticket--disabled & {
		color: #AEB4BB;
	}
}

.tribe-editor__attendee-registration .tribe-editor__labeled-item__label {
	color: #000000;
}

.tribe-editor__attendee-registration {
	.tribe-editor__attendee-registration__label-with-modal {
		> .tribe-editor__modal-button.tribe-editor__label-with-modal__modal-button {
			.tribe-editor__button.tribe-editor__modal-button__button {
				color: var(--tec-color-button-primary);

				&:disabled {
					color: var(--tec-color-text-disabled);
				}
			}
		}
	}
}
