.tribe-editor__rsvp-v2 {

	.tribe-editor__ticket__content-row--capacity {
		margin-bottom: var(--tec-spacer-3);
		padding-bottom: 0;
	}

	.tribe-editor__rsvp-container-content__capacity-label-help {
		margin-bottom: 0;
	}

	.tribe-editor__labeled-item__label:empty {
		display: none;
	}
}
