.tec-tickets-seating__iframe-container {
	width: 100%;

	#tec-tickets-seating-iframe-map-edit {
		height: 740px;
	}
}

.tec-tickets-seating__iframe {
	border: none;
	min-height: 740px;
	width: 100%;
}

.firebase-emulator-warning {
	display: none;
}
