.tec-tickets-seating__iframe-container {
	min-width: 900px;
	min-height: 650px;
	width: 100%;
}

.tec-tickets-seating__iframe {
	border: none;
	width: 100%;
	height: calc(100vh - 160px);
}

.firebase-emulator-warning {
	display: none;
}