.tec-tickets__seating-tab-heading {
	margin: 28px 0 0 0;
}

.tec-tickets__seating-tab-heading-wrapper {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	margin-bottom: 22px;
}

.button.tec-tickets__seating-tab-heading__button,
.tec-tickets-seating-modal-wrapper.tec-tickets__seating-tab-heading__button {
	margin-left: 6px;
	margin-bottom: 12px;
}

.tec-tickets-seating-modal-wrapper .tec-tickets-seating-modal__button {
	display: block;
}

.tec-tickets__seating-tab-heading__description {
	flex-basis: 100%;
	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.tec-tickets__seating-tab-wrapper--iframe-wrapper {
	display: flex;
}
