.tribe-common {
	/* -------------------------------------------------------------------------
	 * Button
	 * ------------------------------------------------------------------------- */

	button {
		background-color: transparent;
		border: none;
		padding: 0;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}
