[submodule "common"]
	path = common
	url = git@github.com:moderntribe/tribe-common.git
[submodule "src/resources/postcss/utilities"]
	path = src/resources/postcss/utilities
	url = git@github.com:moderntribe/tribe-common-styles.git
