# /vendor/
.DS_Store
.idea
node_modules

# build files for js minification

compiler.jar
*.ps1

# Tests - local config files
codeception.yml
tests/*.suite.yml
.env.local

# Tests - local output files
tests/_output

# Some people makes...
Makefile

vendor/
vendor/badcow
vendor/bin
vendor/codeception
vendor/composer
vendor/facebook
vendor/guzzlehttp
vendor/lucatume
vendor/ocramius
vendor/phpunit
vendor/sebastian
vendor/symfony
vendor/autoload.php
src/resources/**/app
src/resources/css
src/resources/js/**/*.min.js

