# /vendor/
.DS_Store
.idea
*.code-workspace
node_modules
vendor

# Some people makes...
Makefile

# Tests - local config files
codeception.yml
tests/*.suite.yml
phpunit.xml
.env.*

# Tests - local output files
tests/_output
tests/_support/_generated

# compiled build files
src/resources/**/app
src/resources/css
src/resources/js/**/*.min.js

# build files for js minification
compiler.jar
*.ps1

# add this yourself to add githoooks
.huskyrc

# get from translate.wordpress.org as needed
lang/*.po
