# /vendor/
.DS_Store
.idea

# build files for js minification

compiler.jar
*.ps1

dev/jshint-report.html

codeception.yml
tests/_bootstrap.php
tests/_output/
tests/_output/*
tests/_support/_generated/*
tests/acceptance/_bootstrap.php
tests/functional/_bootstrap.php
tests/unit/_bootstrap.php
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml
phpunit.xml

vendor/
vendor/badcow
vendor/bin
vendor/codeception
vendor/composer
vendor/facebook
vendor/guzzlehttp
vendor/lucatume
vendor/ocramius
vendor/phpunit
vendor/sebastian
vendor/symfony
vendor/autoload.php
