[submodule "common"]
	path = common
	url = git@github.com:moderntribe/tribe-common.git
[submodule "src/resources/postcss/common/utilities"]
	path = src/resources/postcss/common/utilities
	url = https://github.com/moderntribe/tribe-common-styles.git
