* @the-events-calendar/engineers

src/Tickets/Commerce/Gateways/Square/ @dpanta94

# All changes require Lead review
event-tickets.php @bordoni
src/Tribe/Main.php @bordoni
src/Tribe/Tickets.php @bordoni
