.tec-tickets-block__container_header-seat-type {
	color: var(--tec-color-icon-primary-alt);
	display: block;
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-1);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	line-height: var(--tec-line-height-1);
	margin-top: var(--tec-spacer-0);
}