.tribe-editor__ticket__content-row--capacity {
	padding-bottom: var(--tec-spacer-4);
}

.tribe-editor__ticket__capacity-label-with-tooltip {
	padding-top: 13px;
}

.tribe-editor__ticket--is-asc .tribe-editor__quantity-bar {
	display: none;
}

.tribe-editor__ticket__capacity-form {
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	justify-content: flex-end;

	.tribe-editor__ticket--has-tickets-plus & {
		display: block;
	}

	.tribe-editor__ticket__capacity-input-row {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin-left: 8px;
		padding-top: 12px;
		position: relative;

		.tribe-editor__labeled-item__label {
			color: #000;
			flex: none;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 18px;
			margin-right: 20px;
		}

		.tribe-editor__input--number {
			flex: none;
			width: 85px;
		}

		&:last-child::after {
			height: calc(50% + 6px);
			top: 0;
		}

		&:nth-child(2):last-child::after {
			height: calc(50% - 4px);
			top: 10px;
		}
	}

	.tribe-editor__ticket__capacity-input-row--capacity-independent,
	.tribe-editor__ticket__capacity-input-row--shared-capacity {

		.tribe-editor__labeled-item__label::after {
			color: red;
			content: "*";
			margin-left: 3px;
		}
	}

	.tribe-editor__ticket__capacity-input {
		flex: none;
		width: 85px;
	}

	.tribe-editor__ticket__capacity-input-helper-text {
		color: #8d949b;
		flex: none;
		font-size: 12px;
		line-height: 14px;
		margin-top: 10px;
		text-align: right;
		width: 100%;
	}
}
