/**
 * Event Tickets Admin Settings
 *
 * @since 5.1.10
 */

@import "_banners.pcss";
@import "_tickets-commerce.pcss";
@import "_emails.pcss";

.tec-tickets__admin-settings-back-link-wrapper {
	padding: var(--tec-spacer-4) 0;
}

.tec-tickets__admin-settings-back-link {
	font-size: var(--tec-font-size-2);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
