/**
 * Event Tickets Admin Settings - Tickets Commerce
 *
 * @since 5.1.10
 */

/*
	@todo @juanfra: This was already here, inherited. We need to move to common.
*/

#tribe-field-tickets-commerce-stripe-commerce-configure,
#tribe-field-tickets-commerce-paypal-commerce-configure {
	padding-left: 0;
	width: 100%;

	/*
		@todo @juanfra: This was already here, inherited. We need to move to common.
	*/

	.tribe-field-wrap {
		float: none;
		max-width: none;
	}
}

.tec-tickets__admin-settings-tickets-commerce-description {
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 35px;
	max-width: 84%;
}

.tec-tickets__admin-settings-tickets-commerce-gateway {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: var(--tec-spacer-3);
	padding: 45px 32px 20px 32px;

	@media (--viewport-medium) {
		background-image: url("../images/background-gateway-connect.png");
		background-position: center right;
		background-repeat: no-repeat;
		background-size: 420px 100%;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-title {
	font-size: 20px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-description {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: 20px;

	p {
		max-width: 470px;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-signup-links {
	flex-grow: 1;
	margin-top: var(--tec-spacer-8);
}

.tec-tickets__admin-settings-tickets-commerce-gateway-help-links {
	margin-top: var(--tec-spacer-8);
}

.tec-tickets__admin-settings-tickets-commerce-gateway-help-link {
	align-items: center;
	display: flex;

	&:not(:last-of-type) {
		margin-bottom: 8px;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-refresh-link,
.tec-tickets__admin-settings-tickets-commerce-gateway-help-link-url {
	margin-left: 8px;

	&,
	&:hover,
	&:active,
	&:visited,
	&:focus {
		color: #405bfb;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-merchant-country-container {
	@media (--viewport-medium) {

		.tribe-dropdown .select2-selection--single {
			height: 42px;
		}

		.tribe-dropdown .select2-selection--single .select2-selection__rendered {
			line-height: 42px;
			padding-left: 16px;
		}

		.select2-container--default .select2-selection--single .select2-selection__arrow {
			height: 42px;
			right: 12px;
		}
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-logo ul {
	list-style: none;
	margin: inherit;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-logo li {
	line-height: 1.8;
	margin-bottom: 16px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-logo ul li:before {
	background-color: #405bfb;
	border-radius: 100%;
	content: '';
	display: inline-block;
	height: 7px;
	margin-right: 7px;
	width: 7px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-logo {
	display: none;
	flex-basis: 290px;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.02em;
	line-height: 16px;
	margin-bottom: var(--tec-spacer-4);

	@media (--viewport-medium) {
		display: flex;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-logo-image {
	height: auto;
	margin-bottom: 32px;
	max-width: 232px;
	width: 100%;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connect {
	display: flex;
	flex: 1;

	@media (--viewport-medium) {
		padding-right: 74px;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connect-text--connected {
	color: #1eb056;
	font-size: 16px;
	font-weight: 600;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-row {
	display: flex;
	font-size: 13px;
	font-weight: normal;
	margin: 20px 0;
	text-align: left;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-col1 {
	flex-basis: 20%;
	min-width: 125px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-col2 {
	flex-basis: 80%;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connect,
.tec-tickets__admin-settings-tickets-commerce-gateway-logo {
	flex-direction: column;
}

a.tec-tickets__admin-settings-tickets-commerce-gateway-connect-button-link {
	background: #405bfb;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	margin-top: 25px;
	min-width: 340px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;

	&:hover,
	&:active,
	&:visited,
	&:focus {
		color: #fff;
	}

	&.disabled {
		background-color: var(--tec-color-button-primary-background);
		pointer-events: none;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-text-name {
	font-weight: 700;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-text-disconnect-link {
	border-bottom: 1px solid #405bfb;
	font-size: 13px;
	margin-left: 10px;
	text-transform: lowercase;

	&,
	&:hover,
	&:active,
	&:visited,
	&:focus {
		color: #405bfb;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-currency {
	color: var(--tec-color-text-primary);
	font-weight: bold;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-currency-message {
	color: #a3a3a3;
	margin-top: var(--tec-spacer-1);
}

.tec-tickets__admin-settings-tickets-commerce-gateway-currency-message--error {
	color: var(--tec-color-icon-error);
}

.tec-tickets__admin-settings-tickets-commerce-gateway-capability--no {
	color: var(--tec-color-icon-error);
}

/* @todo: Add following green color as variable in common? */
.tec-tickets__admin-settings-tickets-commerce-gateway-capability--yes {
	color: #1eb056;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-signup-settings {
	max-width: 340px;
	width: 100%;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook {
	&:not(last-of-type) {
		margin-bottom: 8px;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook--active {
	.tec-tickets__admin-settings-tickets-commerce-paypal-connected-webhook-error,
	.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook-error {
		@mixin hidden;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook:not(.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook--active) {
	.tec-tickets__admin-settings-tickets-commerce-paypal-connected-webhook-name,
	.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook-name {
		color: var(--tec-color-text-primary-light);
		text-decoration: line-through;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-webhook-error {
	color: var(--tec-color-icon-error);
	margin-left: 8px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-actions-debug {
	margin-top: 20px;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-resync-button {
	@mixin button-solid;

	background-color: var(--tec-color-button-primary);
	padding: 11px 20px 11px;
	width: auto;

	&:focus,
	&:hover {
		background-color: var(--tec-color-button-primary-hover);
		color: white;
	}

	&:active {
		background-color: var(--tec-color-button-primary-active);
	}

	&:disabled {
		background-color: var(--tec-color-button-primary-background);
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-connected-resync-button-icon {
	margin-right: 8px;
	position: relative;
	stroke: white;
	top: 3px;
	width: 16px;

	path {
		fill: none;
	}
}

.tribe-common,
.event-tickets {
	&.tribe-modal__wrapper--gateway-connected {
		.tribe-tickets__notice {
			display: block;
		}

		.tribe-common-c-btn {
			width: auto;
		}

		.tec-tickets__admin-modal-list {
			list-style: initial;
			margin: 1em 0;
			padding-left: 16px;
		}

		p {
			margin: 1em 0;
		}

		.tec-tickets__admin-modal-buttons {
			display: flex;
			justify-content: flex-end;
			margin-top: 26px;
		}
	}

	body.events-cal & {
		div.tribe-dialog {
			z-index: 99999;
		}
	}

	.tec-tickets__admin-settings-tickets-commerce-gateway-modal-notice-error {
		display: block;
	}

	.tec-tickets__admin-settings-tickets-commerce-stripe-modal-content-title {
		margin-bottom: var(--tec-spacer-3);
	}

	.tec-tickets__admin-settings-tickets-commerce-stripe-modal-content-section {
		margin-bottom: var(--tec-spacer-3);
	}
}

#paypal-connected-modal-button,
#stripe-connected-modal-button {
	display: none;
}

.tec-tickets__admin-settings-tickets-commerce-section-menu {
	padding-top: var(--tec-spacer-6);
}

.tec-tickets__admin-settings-tickets-commerce-section-menu-link {
	border-bottom-color: #c4c4c4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #23282d;
	display: inline-block;
	font-size: var(--tec-font-size-2);
	margin-right: var(--tec-spacer-5);
	padding-bottom: var(--tec-spacer-1);
	text-decoration: none;
}

.tec-tickets__admin-settings-tickets-commerce-section-menu-link--active {
	border-bottom-width: var(--tec-spacer-0);
	font-weight: bold;
}

.tec-tickets__admin-settings-tickets-commerce-section-menu-link--active,
.tec-tickets__admin-settings-tickets-commerce-section-menu-link:hover {
	border-bottom-color: var(--tec-color-accent-primary);
	color: #23282d;
}

.tec-tickets__admin-settings-featured {
	background-color: var(--tec-color-background);
	border: solid 1px var(--tec-color-border-default);
	border-radius: 8px;
	margin-bottom: var(--tec-spacer-7);
	padding: var(--tec-spacer-8);
}

.tec-tickets__admin-settings-featured-title {
	background-color: transparent;
	font-size: var(--tec-font-size-5);
	font-weight: bold;
	margin-bottom: var(--tec-spacer-2);
	padding: var(--tec-spacer-1) 0;
}

.tec-tickets__admin-settings-featured-description {
	margin-bottom: var(--tec-spacer-4);
	max-width: 720px;
}

.tec-tickets__admin-settings-featured-link {
	align-items: center;
	color: var(--tec-color-text-primary);
	display: flex;
}

.tec-tickets__admin-settings-featured-link-url {
	color: var(--tec-color-accent-primary);
	padding: 0 var(--tec-spacer-1);
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item {
	margin-bottom: var(--tec-spacer-7);
	padding-bottom: var(--tec-spacer-0);
	text-align: center;

	& > div {
		padding: var(--tec-spacer-0) 0;
	}

	@media (--viewport-medium) {
		align-items: center;
		display: flex;
		text-align: left;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-toggle {
	margin-right: 35px;
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-brand {
	flex-grow: 1;
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-brand-logo-image {
	max-height: var(--tec-spacer-10);
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-brand-subtitle {
	font-size: 13px;
	font-style: italic;
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-button-link {
	background-color: var(--tec-color-accent-primary);
	border-radius: var(--tec-border-radius-default);
	color: #fff;
	display: inline-block;
	font-size: var(--tec-font-size-2);
	font-weight: var(--tec-font-weight-bold);
	padding: var(--tec-spacer-2) var(--tec-spacer-3);
	text-align: center;
	text-decoration: none;
	width: 180px;

	&:active,
	&:hover {
		background-color: var(--tec-color-button-primary-hover);
		color: #fff;
	}

	&:active {
		background-color: var(--tec-color-button-primary-active);
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-button-link--active {
	background-color: var(--tec-color-background);
	border-color: #3c434a;
	border-style: solid;
	border-width: 1px;
	color: #3c434a;

	&:active,
	&:hover {
		background-color: var(--tec-color-button-primary-hover);
		border-color: var(--tec-color-button-primary-hover);
		color: #fff;
	}

	&:active {
		background-color: var(--tec-color-button-primary-active);
		border-color: var(--tec-color-button-primary-active);
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-toggle .tec-tickets__admin-settings-toggle-large-checkbox:checked + .tec-tickets__admin-settings-toggle-large-switch {
	background: #50b078;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-group-header {
	background: #f9f9f9;
	color: #23282d;
	display: flex;
	font-size: var(--tec-font-size-2);
	font-weight: var(--tec-font-weight-bold);
	padding: var(--tec-spacer-1) var(--tec-spacer-2);
}

.tec-tickets__admin-settings-tickets-commerce-gateway-group-header:first-of-type {
	margin-top: 0;
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-status {
	color: var(--tec-color-text-disabled);
	font-size: var(--tec-font-size-2);
	font-style: italic;
	font-weight: var(--tec-font-weight-normal);
	margin: 0 var(--tec-spacer-8);
}

.tec-tickets__admin-settings-tickets-commerce-gateways-item-status--enabled {
	color: #50b078;
	font-weight: var(--tec-font-weight-bold);
}

.tec-tickets__admin-after-pay-promo-container {
	align-items: center;
	background: #f6f7f7;
	border: 1px solid #c3c4c7;
	border-radius: 6px;
	display: flex;
	margin-bottom: 32px;
	padding: 20px;
}

.tec-tickets__admin-after-pay-promo-icon-container {
	display: none;
	padding: 10px;

	@media (--viewport-small) {
		display: block;
	}
}

.tec-tickets__admin-after-pay-promo-icon {
	height: 48px;
	width: 48px;
}

.tec-tickets__admin-after-pay-promo-content-container {
	padding: 10px;
}

.tec-tickets__admin-after-pay-promo-content-title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 12px;
}

.tec-tickets__admin-after-pay-promo-description {
	font-size: 14px;
	margin-bottom: 6px;
}

.tec-tickets__admin-after-pay-promo-links-container {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
}

.tec-tickets__admin-after-pay-promo-link {
	display: inline-block;
	margin-right: 12px;
}
