.tribe-editor__rsvp-remove {
	margin-top: var( --tec-spacer-5 );
}

.tribe-editor__rsvp-remove button {
	color: var( --tec-color-accent-primary );
	font-size: 15px;
	color: var( --tec-color-icon-error );
}
