.tribe-editor__ticket__attendee-registration {
	margin-top: 30px;
}

.tribe-editor__ticket__attendee-registration-helper-text {
	display: block;
	color: #8D949B;
	font-size: 12px;
	line-height: 14px;
	margin-top: 10px;
}
