/**
 * Event Tickets Admin Attendees - Table
 *
 * @since TBD
 */
.tec-tickets__admin-attendees {
	.tec-tickets__admin-table-attendees {
	}

	td {
		padding: 10px;
	}

	.column-ticket {
		min-width: 30%;
	}

	.fixed .column-security,
	.fixed .column-status,
	.fixed .column-check_in {
		width: 10%;
	}

	.tec-tickets__admin-table-attendees-check-in-button,
	.tec-tickets__admin-table-attendees-undo-check-in-button {
		height: initial;
		justify-content: center;
	}
}