/**
 * Event Tickets Admin Attendees - Table
 *
 * @since 5.5.9
 */
.tec-tickets__admin-attendees {
	.welcome-panel-last {
		display: inline-block !important;
	}

	td {
		padding: 10px;
	}

	.column-ticket {
		min-width: 30%;
	}

	.fixed .column-security,
	.fixed .column-status,
	.fixed .column-check_in {
		width: 10%;
	}

	.tec-tickets__admin-table-attendees-check-in-button,
	.tec-tickets__admin-table-attendees-undo-check-in-button {
		height: initial;
		justify-content: center;
	}

	.tec-tickets__admin-table-attendees-purchaser-email-link {
		border-bottom: 1px solid #e0e0e0;
		color: #50575e;
	}

	.tec-tickets__admin-attendees-attendance-container {
		padding: 20px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading {
		align-items: center;
		display: flex;
		margin-bottom: 8px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading-label {
		font-size: 14px;
		font-weight: 700;
		margin-right: 8px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading-border {
		border-bottom: 1px solid #DCDCDE;
		flex: 1;
		height: 1px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading-total {
		margin-left: 8px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading-total-label {
		font-size: 13px;
	}

	.tec-tickets__admin-attendees-attendance-type-heading-total-amt {
		font-size: 12px;
	}

	.tec-tickets__admin-attendees-attendance-type-list {
		margin: 8px 0;
		padding: 0 15px;
	}

	.tec-tickets__admin-attendees-attendance-type-complete {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;
	}

	.tec-tickets__admin-attendees-attendance-type-complete-label {
		font-size: 13px;
	}

	.tec-tickets__admin-attendees-attendance-type-complete-amount {
		font-size: 12px;
	}

	.tec-tickets__admin-attendees-attendance-type-cancelled {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	.tec-tickets__admin-attendees-attendance-type-cancelled-label {
		font-size: 13px;
	}

	.tec-tickets__admin-attendees-attendance-type-cancelled-amt {
		font-size: 12px;
	}

	.tec-tickets__admin-attendees-attendance-totals-row {
		border-top: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
		margin: 0 15px;
		padding-top: 12px;
	}

	.tec-tickets__admin-attendees-attendance-totals-title {
		font-size: 13px;
		font-weight: 700;
	}

	.tec-tickets__admin-attendees-attendance-totals-amt {
		font-size: 12px;
	}
}
