.tribe-editor__tickets-body {
	.editor-inner-blocks {
		.editor-block-list__block {
			&.is-hovered,
			&.is-selected {

				> .editor-block-list__block-edit::before {
					outline: none;
					transition: none
				}
			}
		}

	}
}
