.tribe-editor__tickets__capacity-table {
	margin-bottom: 40px;
}

.tribe-editor__tickets__capacity-table-title {
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: #000;

	.tribe-editor__tickets__settings-dashboard--loading & {
		color: #AEB4BB;
	}
}
