/**
 * Event Tickets - RSVP Attendees list
 *
 * @since 5.7.0
 */

.event-tickets {

	.tribe-tickets__rsvp-attendees {
		margin-bottom: var(--tec-grid-gutter-half);
		margin-left: var(--tec-grid-gutter-half);
		margin-right: var(--tec-grid-gutter-half);
		margin-top: 0;
	}
}
