/* extra classes to override gutenberg styles */
.tribe-editor__tickets__capacity-table .tribe-editor__tickets__capacity-table-title {
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-3);
	font-weight: var(--tec-font-weight-bold);
	line-height: var(--tec-line-height-3);

	.tribe-editor__tickets .tribe-editor__tickets__settings-dashboard--loading & {
		color: #AEB4BB;
	}
}
