.tribe-editor__rsvp-duration {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;

	.tribe-editor__timepicker-label-container {
		border-color: #e1e3e6;
		border-width: 1px;

		.tribe-editor__btn-input {
			font-size: 14px;
			padding-bottom: 10px;
			padding-top: 11px;
		}
	}
}

.tribe-editor__rsvp-duration__error {
	color: red;
	font-size: 15px;
	line-height: 18px;
	margin-top: 10px;
	padding-left: 140px;
	width: 100%;
}
