.tribe-editor__rsvp-duration {
	display: flex;
	align-items: flex-start;
	padding-top: 30px;


	.tribe-editor__timepicker-label-container {
		border-width: 1px;
		border-color: #e1e3e6;

		.tribe-editor__btn-input {
			padding-top: 11px;
			padding-bottom: 10px;
			font-size: 14px;
		}
	}

}
