.tec-tickets__tab-heading {
	margin: 55px 0 17px 0;
}

.tec-tickets__tab-heading__wrapper {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.button.tec-tickets__tab-heading__button,
.tec-events-assigned-seating-modal-wrapper.tec-tickets__tab-heading__button {
	margin-left: 25px;
}

.tec-events-assigned-seating-modal-wrapper .tec-events-assigned-seating-modal__button {
	display: block;
}

.tec-tickets__tab-heading__description {
	flex-basis: 100%;
}

.tec-tickets__tab-content__wrapper--iframe-wrapper {
	display: flex;
}