.tribe-editor__rsvp-v2-duration-fields {
	margin-bottom: var(--tec-spacer-4);

	.tribe-editor__date-time-range-picker__start,
	.tribe-editor__date-time-range-picker__end {
		margin-left: 0;
		width: 100%;
	}
}

.tribe-editor__rsvp-v2-duration-fields__error {
	color: var(--tec-color-icon-error);
	display: block;
	margin-top: var(--tec-spacer-1);
}
