/* = WooTickets Admin Styles
=============================================*/

#ticket_form {
	display : none;
}

#ticket_form input[type=radio] {
	margin-right : 5px;
}

#ticket_form span {
	margin-right : 10px;
}

.ticket_list tr td {
	padding        : 4px 7px 2px;
	vertical-align : top;
}

.ticket_list tr td div.ticket_controls {
	visibility : hidden;
}

.ticket_list tr:hover td div.ticket_controls {
	visibility : visible;
}

.ticket_list h4 {
	text-transform : uppercase;
	border-bottom  : 1px solid #e5e5e5;
	padding-bottom : 6px;
}

.ticket_list h4 a {
	font-weight    : normal;
	font-size      : 11px;
	text-transform : none;
}

p.ticket_name {
	font-size   : 13px;
	font-weight : bold;
}

.ticket_form p.description {
	display : inline;
}

.ticket_form p.description.detailed-description {
	display : block;
}

.ticket_form h4.ticket_form_title_edit {
	display : none;
}
#tribe_ticket_header_preview img {
	max-width : 95% !important;
	height    : auto !important;
}

#tribe_ticket_header_remove {
	display: none;
}

.ticket_time{
	display:none;
}

.tribe-tickets-remaining {
	font-size: 10px;
}

.eventtable {
	margin      : 0;
	padding-top : 0;
	width       : 100%;
}

#event_tickets, .eventtable.ticket_list.eventForm {
	table-layout : fixed;
}

/* Specific goal of this rule is to prevent the number input busting the ticket form layout under Twenty Fifteen */
.tribe-theme-twentyfifteen .tribe-events-tickets input[type="number"] {
	padding: 0.375em;
	width: 100%;
}
