.tribe-editor__ticket__content-row--description {
	margin-bottom: 20px;
}

.tribe-editor__ticket__description-label {
	flex: none;
	width: 140px;
}

.tribe-editor__ticket__description-input {
	width: 100%;
}