/**
 * Event Tickets - Admin Styles for Stripe Gateway Webhooks.
 *
 * @since TBD
 */
#tribe-field-tickets-commerce-stripe-webhooks-value {
	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.tribe-field-tickets-commerce-stripe-webhooks-copy {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -2px;
		line-height: 24px;
		padding-left: 6px;
		padding-right: 6px;

		span {
			line-height: 24px;
		}
	}
}