.tribe-editor__container-panel__header {

	.tribe-editor__ticket & {
		display: flex;
		align-items: start;
	}
}

.tribe-editor__ticket__container-header-details {
	flex: auto;
}

.tribe-editor__ticket__container-header-label {
	color: #727272;
	display: block;
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-1);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	line-height: 17px;
	margin-top: 4px;
	text-align: right;
}