.tribe-editor__container-panel__header {

	.tribe-editor__ticket & {
		display: flex;
		align-items: center;
	}
}

.tribe-editor__ticket__container-header-details {
	flex: auto;
	margin: 30px 0 30px 25px;
}
