.tribe-editor__tickets-container {
	color: #545D66;
	font-family: Helvetica, sans-serif, arial;

	.editor-inserter {
		display: none;
	}

	.editor-block-list__block {
		font-family: inherit;
	}
}

.tribe-editor__tickets-container--loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;

	.components-spinner {
		flex: none;
	}
}
