.tribe-editor__rsvp-attendee-information {
	margin-top: var(--tec-spacer-4);
}

.tribe-editor__rsvp-attendee-information__title {
	color: var(--tec-color-text-primary);
	font-weight: var(--tec-font-weight-bold);
}

.tribe-editor__rsvp-attendee-information__fields {
	margin-top: var(--tec-spacer-1);
}
