.tribe-editor__rsvp-attendee-information {
	margin-top: var(--tec-spacer-4);
}

.tribe-editor__rsvp-attendee-information__title {
	color: var(--tec-color-text-primary);
	font-weight: var(--tec-font-weight-bold);
}

.tribe-editor__rsvp-attendee-information__title-edit {
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-flex;
	gap: var(--tec-spacer-1);
	padding: 0;
}

.tribe-editor__rsvp-attendee-information__edit-icon {
	color: var(--tec-color-text-secondary);
}

.tribe-editor__rsvp-attendee-information__fields {
	margin-top: var(--tec-spacer-1);
}
