/**
 * Event Tickets - Tickets Commerce Stripe Stylesheet
 *
 * @since TBD
 */

.event-tickets {

	.tribe-tickets__commerce-checkout-stripe-payment-element {
		margin-bottom: var(--tec-spacer-4);
	}

	.tribe-tickets__commerce-checkout-stripe-card-element {
		border: 1px solid var(--tec-color-border-default);
		border-radius: var(--tec-border-radius-default);
		margin-bottom: var(--tec-spacer-4);
		padding: var(--tec-spacer-2);
	}

}
