/**
 * Event Tickets - Tickets Commerce Stripe Stylesheet
 *
 * @since TBD
 */

.event-tickets {

	.tribe-tickets__commerce-checkout-stripe-payment-element {
		margin-bottom: var(--tec-spacer-4);
	}

	.tribe-tickets__commerce-checkout-stripe-card-element {
		margin-bottom: var(--tec-spacer-4);
	}
	
	.tribe-tickets__commerce-checkout-stripe-card-element-row {
		display: flex;
		justify-content: stretch;
	}

	.tribe-tickets__commerce-checkout-stripe-card-element--compact {
		border: 1px solid var(--tec-color-border-default);
		border-radius: var(--tec-border-radius-default);
		padding: var(--tec-spacer-2);

		.tribe-tickets__commerce-checkout-stripe-card-element-row {
			display: none;
		}
	}

	.tribe-tickets__commerce-checkout-stripe-card-element-number,
	.tribe-tickets__commerce-checkout-stripe-card-element-expiry,
	.tribe-tickets__commerce-checkout-stripe-card-element-cvc,
	.tribe-tickets__commerce-checkout-stripe-card-element-zip {
		border: 1px solid var(--tec-color-border-default);
		border-radius: var(--tec-border-radius-default);
		margin-bottom: var(--tec-spacer-2);
		padding: var(--tec-spacer-1) var(--tec-spacer-3);
		flex-grow: 1;
		flex-basis: 67%;
		margin-right: var(--tec-spacer-2);
	}
	
	.tribe-tickets__commerce-checkout-stripe-card-element-expiry,
	.tribe-tickets__commerce-checkout-stripe-card-element-zip {
		flex-basis: 33%;
		margin-right: 0px;
	}
	
	.tribe-tickets__commerce-checkout-stripe-card-element-zip-input {
		background-color: transparent;
		border: none;
		display: block;
		font-family: sans-serif;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 14px;
		line-height: 1.2em;
		height: 1.2em;
	}
}
