.tribe-editor__ticket__content-row--description {
	margin-bottom: var(--tec-spacer-4);
}

.tribe-editor__ticket__description-label {
	flex: none;
	width: 140px;
}

.tribe-editor__ticket__description-input {
	width: 100%;
}