.tribe-editor__rsvp__content-row--move-delete {
	padding-left: var(--tec-spacer-4);

	& > button {
		font-size: 15px !important;
		line-height: 18px;
		padding: 0;

		&:first-child {
			color: var(--tec-color-icon-error);

			&::after {
				color: #8d949b;
				content: "|";
				margin: 0 10px;
			}
		}

		&:last-child {
			color: var(--tec-color-button-primary);
		}
	}
}
