.tribe-editor__ticket__content-row--title {
	margin-bottom: var(--tec-spacer-4);
}

.tribe-editor__ticket__title-label {
	flex: none;
	width: 140px;

	&::after {
		color: var(--tec-color-icon-error);
		content: "*";
		margin-left: var(--tec-spacer-0);
	}
}

.tribe-editor__ticket__title-input {
	width: 100%;
}
