.tribe-editor__rsvp-duration__duration-picker {
	flex: 1;
	margin-left: -55px;

	.tribe-editor__date-input__container input.tribe-editor__date-input,
	.tribe-editor__timepicker .components-dropdown.tribe-editor__timepicker__toggle {
		border-radius: var( --tec-spacer-0 );
	}

	&--no-margin-left {
		margin-left: 0;
	}

	&--sm-label {
		.tribe-editor__date-time-range-picker__field-label {
			font-size: 14px;
		}
	}
}

.tribe-editor__date-time-range-picker .tribe-editor__date-time-range-picker__separator {
	.tribe-editor__rsvp-container--disabled & {
		color: #aeb4bb;
	}
}
