.tribe-editor__rsvp-limit-popover__content {
	min-width: 280px;
	padding: var(--tec-spacer-4);
}

.tribe-editor__rsvp-window-popover__content {
	min-width: 420px;
	padding: var(--tec-spacer-4);
}

.tribe-editor__rsvp-window-popover {

	.tribe-editor__rsvp-v2-duration-fields {
		margin-bottom: 0;
	}

	.tribe-editor__date-time-range-picker__start,
	.tribe-editor__date-time-range-picker__end {
		margin-left: 0;
		width: 100%;
	}

	.tribe-editor__date-time-range-picker__field-label {
		min-width: 88px;
	}

	.DayPickerInput input {
		min-width: 120px;
	}
}

.tribe-editor__rsvp-limit-popover__title,
.tribe-editor__rsvp-window-popover__title {
	font-weight: var(--tec-font-weight-bold);
	margin-bottom: var(--tec-spacer-3);
}

.tribe-editor__rsvp-limit-popover__help {
	margin-bottom: var(--tec-spacer-3);
	margin-top: var(--tec-spacer-2);
}

.tribe-editor__rsvp-limit-popover__actions,
.tribe-editor__rsvp-window-popover__actions {
	display: flex;
	gap: var(--tec-spacer-2);
	justify-content: flex-end;
	margin-top: var(--tec-spacer-4);
}

.tribe-editor__rsvp-limit-popover__input {
	width: 100%;
}
