.tribe-editor__settings-dashboard__header-left {

	.tribe-editor__rsvp__settings-dashboard--loading & {

		& > svg {

			&,
			& path {
				fill: #aeb4bb;
			}
		}
	}
}

.tribe-editor__settings-dashboard__header-left-text {

	.tribe-editor__rsvp__settings-dashboard--loading & {
		color: #aeb4bb;
	}
}
