.tribe-editor__rsvp__attendee-registration-label-with-modal .tribe-editor__labeled-item__label {

	.tribe-editor__rsvp-container--disabled & {
		color: #aeb4bb;
	}
}

.tribe-editor__rsvp__attendee-registration-helper-text {

	.tribe-editor__rsvp-container--disabled & {
		color: #aeb4bb;
	}
}
