.tribe-editor__ticket__content-row--move-delete {
	padding: 30px 0;

	& button {
		background: transparent;
		outline: none;
		border-width: 0;
		cursor: pointer;

		&:first-child {
			color: #009fd4;
		}

		&:last-child {
			color: red;
		}
	}
}
