.tribe-editor__rsvp-details .tribe-editor__rsvp-container-header__counters {
	display: flex;
	padding: var(--tec-spacer-6) 0 var(--tec-spacer-0) 0;

	.tribe-editor__counter {
		align-items: start;
	}
}

.tribe-editor__rsvp-container-header__going-counter,
.tribe-editor__rsvp-container-header__not-going-counter {
	width: var(--tec-spacer-10);

	.tribe-editor__counter__count {
		color: var(--tec-color-text-primary);
	}

	.tribe-editor__counter__label {
		color: var(--tec-color-text-secondary);
	}
}

.tribe-editor__rsvp-container-header__going-counter {
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}
