.tribe-editor__ticket__content-row--capacity {
	margin-bottom: var(--tec-spacer-4);
}

.tribe-editor__ticket__capacity-label {
	flex: none;
	width: 140px;
}

.tribe-editor__ticket__capacity-input {
	width: 100%;
}

.tribe-editor__rsvp-container-content__capacity {
	display: flex;
	flex-direction: column;
}

.tribe-editor__rsvp-container-content__capacity-label-help {
	color: var(--tec-color-text-primary-light);
	font-family: var(--tec-font-family-sans-serif);
	font-size: var(--tec-font-size-1);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	line-height: var(--tec-line-height-2);
	margin: var(--tec-spacer-1) 0;
}
