.tribe-editor__ticket__content-row.tribe-editor__ticket__content-row--price {
	margin-bottom: 20px;
	display: block;
}

.tribe-editor__ticket__price-label {
	flex: none;
	width: 140px;
}

.tribe-editor__input.tribe-editor__ticket__price-input {
	width: 120px;
}

.tribe-editor__ticket__price-wrapper {
	display: flex;
}