.tribe-editor__ticket__content-row--price {
	margin-bottom: 20px;
}

.tribe-editor__ticket__price-label {
	flex: none;
	width: 140px;

	&:after {
		color: var(--tec-color-icon-error);
		content: "*";
		margin-left: var(--tec-spacer-0);
	}
}
