.tribe-editor__ticket__content-row.tribe-editor__ticket__content-row--price {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 140px auto;
}

.tribe-editor__ticket__price-label {
	flex: none;
	width: 140px;

	&:after {
		color: var(--tec-color-icon-error);
		content: "*";
		margin-left: var(--tec-spacer-0);
	}
}

.tribe-editor__input.tribe-editor__ticket__price-input {
	width: 140px;
}

.tribe-editor__ticket__sale-price-wrapper {
	margin-top: 20px;
	margin-left: 140px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}