.tribe-editor__tickets__capacity-row {
	align-items: center;
	border-top: 1px solid #e1e3e6;
	display: flex;
	justify-content: space-between;
}

.tribe-editor__tickets__capacity-row-left {
	display: flex;
	flex: 1;
	padding: 18px 0;
}

.tribe-editor__tickets__capacity-row-right {
	color: var(--tec-color-text-primary);
	flex: none;
	font-size: var(--tec-font-size-3);
	font-weight: var(--tec-font-weight-bold);
	line-height: var(--tec-line-height-3);
	padding-right: 15px;
	text-align: right;
	width: 85px;

	.tribe-editor__tickets__settings-dashboard--loading & {
		color: #aeb4bb;
	}

	input[type="number"] {
		margin-right: -15px;
		text-align: right;
		width: 85px;
	}
}

.tribe-editor__tickets__capacity-row-label {
	color: var(--tec-color-text-primary);
	flex: none;
	font-size: var(--tec-font-size-3);
	line-height: var(--tec-line-height-3);

	.tribe-editor__tickets__settings-dashboard--loading & {
		color: #aeb4bb;
	}
}

.tribe-editor__tickets__capacity-row-items {
	color: #545d66;
	font-size: 14px;
	line-height: 18px;
	padding-left: 7px;

	.tribe-editor__tickets__settings-dashboard--loading & {
		color: #aeb4bb;
	}
}
