.tec-tickets-seating__settings_layout--wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 32px;
}

.tec-tickets-seating__settings_layout--title {
	font-size: var(--tec-font-size-3);
	font-weight: var(--tec-font-weight-bold);
	line-height: var(--tec-line-height-3);
}

.tec-tickets-seating__settings_layout--select {
	max-width: 60%;
	min-width: 270px;
}

.tec-tickets-seating__settings_layout--description {
	color: var(--tec-color-icon-primary-alt);
	font-size: var(--tec-font-size-2);
	font-weight: var(--tec-font-weight-regular);
	line-height: var(--tec-line-height-0);
}

.tec-tickets-seating__settings--actions {
	display: flex;
	flex-direction: row-reverse;
	gap: 15px;
}

.tec-tickets-seating__settings-intro {
	font-size: 24px;
	.dashicon {
		font-size: 24px;
	}
}