.tec-tickets-seating__settings_layout--wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tec-tickets-seating__settings--actions {
	display: flex;
	flex-direction: row-reverse;
	gap: 15px;
}

.tec-tickets-seating__settings-intro {
	font-size: 24px;
	.dashicon {
		font-size: 24px;
	}
}