

	/* -----------------------------------------------------------------------------
	 *
	 * Button: Small
	 *
	 * Example:
	 * <button class="tribe-common-c-btn tribe-common-c-btn--small">...</button>
	 * <a href="#" class="tribe-common-c-btn tribe-common-c-btn--small">...</a>
	 *
	 * ----------------------------------------------------------------------------- */

	.tribe-common-c-btn--small,
	a.tribe-common-c-btn--small {
		padding: 11px 20px 11px;
		width: auto;
	}
