
.tribe-editor__ticket .tribe-editor__ticket__container .tribe-editor__ticket__content-row--fees {

	.tribe-editor__ticket__active-fees-label {
		flex: none;
		width: 140px;
		padding: var(--tec-spacer-2) 0;
	}

	.components-select-control__input {
		width: 100%;
	}

	.tribe-events-block-editor__add-fee {
		font-size: var(--tec-font-size-3);
	}

	.tribe-editor__ticket__order_modifier_fees {
		padding: var(--tec-spacer-2);

		.tribe-editor__ticket__fee-checkbox {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
		}

		.tribe-editor__labeled-item {
			margin-bottom: var(--tec-spacer-0);
		}
	}
}
