.tribe-editor__ticket__container {

	.tribe-editor__ticket__content-row--fees {

		.tribe-events-block-editor__add-fee {
			font-size: var(--tec-font-size-3);
		}

		.tribe-editor__ticket__order_modifier_fees {
			padding: 0 0 var(--tec-spacer-5) var(--tec-spacer-3);
		}
	}
}
