.tribe-editor__container-panel__row--duration {
	padding-top: 20px;
}

.tribe-editor__ticket-duration__duration-picker {
	position: relative;
	margin-bottom: 20px;

	.tribe-editor__timepicker-label-container {
		border-width: 1px;
		border-color: #e1e3e6;

		.tribe-editor__btn-input {
			padding-top: 11px;
			padding-bottom: 10px;
			font-size: 14px;
		}

		input[type="time"]:focus {
			box-shadow: none;
		}
	}

	.tribe-editor__date-time-range-picker__start {
		width: 100%;
		margin-left: 0;
	}

	.tribe-editor__date-time-range-picker__separator--time-range {
		position: absolute;
		left: -30px;
		margin: 0;
	}
}
