/* -----------------------------------------------------------------------------
 * Form
 * ----------------------------------------------------------------------------- */

#settingsPanel .tec-tickets-onboarding__form-field label {
	text-align: left;
}

/* -----------------------------------------------------------------------------
 * Checkbox & Radio styling.
 * ----------------------------------------------------------------------------- */
.tec-tickets-onboarding__checkbox {
	align-items: center;
	display: flex;
	gap: var(--tec-spacer-0);
}

.tec-tickets-onboarding__checkbox--optin,
.tec-tickets-onboarding__checkbox--events {
    align-items: start;
	border: 1px solid var(--tec-scales-grey-200);
	border-radius: var(--tec-admin-border-radius-1);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 363px;
	padding: var(--tec-spacer-5) var(--tec-spacer-7);
}

.tec-tickets-onboarding__checkbox--optin {
	background-color: var(--tec-wp-core-grey-0);
}

.tec-tickets-onboarding__checkbox--events {
	align-items: flex-start;
	background-color: #fff;
}

.tec-tickets-onboarding__checkbox-description {
	color: #000;
	font-size: var(--tec-font-size-2);
	letter-spacing: -0.28px;
	line-height: var(--tec-line-height-2);
	margin-top: calc(-1 * var(--tec-spacer-0));
	text-align: left;
}

.tec-tickets-onboarding__form-wrapper {
	background-color: #fff;
	border-radius: var(--tec-admin-border-radius-1);
	display: flex;
	flex-direction: column;
	gap: var(--tec-spacer-2);
	margin: 0 auto;
	padding: var(--tec-spacer-5) var(--tec-spacer-7) var(--tec-spacer-7);
	text-align: left;
	width: 100%;
	max-width: 100%;
}

.install-success .tec-tickets-onboarding__form-wrapper {
	align-items: center;
	gap: 0;
	padding: 0;
}

.tec-tickets-onboarding__form-wrapper.events-install {
	background: transparent;
	padding: 0;
}

.tec-tickets-onboarding__success-heading {
	font-size: var(--tec-font-size-5);
	font-weight: var(--tec-font-weight-bold);
	margin-bottom: var(--tec-spacer-1);
}

.tec-tickets-onboarding__success-message {
	font-size: var(--tec-font-size-3);
	margin-top: 0;
	text-align: center;
}

.tec-tickets-onboarding__success-finish {
	margin-top: var(--tec-spacer-2);
}

.tec-tickets-onboarding__form-field-trigger {
	line-height: var(--tec-line-height-2);
	max-height: var(--tec-spacer-4);
	padding: 0;
}

.tec-tickets-onboarding__form-field-trigger + .tec-tickets-onboarding__form-field {
	display: none;
}

/* Stupidly specific or important to override component styles */
.tec-tickets-onboarding__payment-options > .components-base-control__field > .components-base-control__label {
	font-size: var(--tec-font-size-3);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	letter-spacing: -0.28px;
	line-height: var(--tec-line-height-2);
	text-transform: none;
	margin-bottom: 0;
	margin-top: var(--tec-spacer-3);
}

.tec-tickets-onboarding__payment-option {
	cursor:pointer;
    pointer-events: auto;
	margin-bottom: var(--tec-spacer-3);

	&.disabled {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.7;

		input {
			cursor: not-allowed;
			background-color: var(--tec-scales-grey-200);
		}
	}

	.tec-tickets-onboarding__payment-option-content {
		margin-left: var(--tec-spacer-2);
	}
}

.tec-tickets-onboarding__payment-option-provider {
	font-size: var(--tec-font-size-1);
	color: var(--tec-wp-core-grey-50);
	margin-left: var(--tec-spacer-1);
}

.components-radio-control__option .components-radio-control__input[type="radio"] {
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
}

.tec-tickets-onboarding__gateway-logo {
	text-align: center;
}

.tec-tickets-onboarding__subtitle {
	margin-top: 0;
}

.tec-tickets-onboarding__tab-actions {
	display: flex;
	flex-direction: column;
	gap: var(--tec-spacer-2);
	align-items: center;
	margin-top: var(--tec-spacer-4);
	text-align: center;
}

/* Style for when we have both the connection button and skip button */
.tec-tickets-onboarding__tab-actions .tec-tickets-onboarding__skip-button {
	margin-top: var(--tec-spacer-1);
}

.tec-tickets-onboarding__free-options-note {
	font-size: var(--tec-font-size-1);
	color: var(--tec-wp-core-grey-50);
}

.tec-tickets-onboarding__form-wrapper label {
	font-size: var(--tec-font-size-2);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	letter-spacing: -0.28px;
	line-height: var(--tec-line-height-2);
	text-transform: none;
}

.tec-tickets-onboarding__form-wrapper input,
.tec-tickets-onboarding__form-wrapper select {
	font-size: var(--tec-font-size-2);
	font-style: normal;
	font-weight: var(--tec-font-weight-regular);
	height: auto;
	line-height: normal;
	padding: var(--tec-spacer-2) var(--tec-spacer-3);
	text-transform: none;
	width: 100%;
}

.tec-onboarding__modal .components-select-control__input:focus ~ .components-input-control__backdrop {
	border-color: var(--tec-wp-core-blue-50) !important;
	box-shadow: 0 0 0 0.5px var(--tec-wp-core-blue-50) !important;
}

.tec-tickets-onboarding__field-description {
	display: inline-block;
}

.tec-tickets-onboarding__connection-status--connected,
.tec-tickets-onboarding__connection-error {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: var(--tec-spacer-3);
}

.tec-tickets-onboarding__connection-status--connected svg,
.tec-tickets-onboarding__connection-error svg {
	margin-right: var(--tec-spacer-0);
}

.tec-tickets-onboarding__warning-notice {
	background-color: #fcf9e8;
	border-left: 4px solid #f0b849;
	margin: 10px 0;
	padding: 10px 12px;
}

.tec-tickets-onboarding__warning-notice p {
	margin: 0;
	color: #72777c;
}
