/* -----------------------------------------------------------------------------------------------------
 * Custom Properties: some are new, some are from the TEC common styles, reproduced here for the admin.
 * ----------------------------------------------------------------------------------------------------- */
:root {
	/* -----------------------------------------------------------------------------
	 * Colors
	 * ----------------------------------------------------------------------------- */
	--tec-wp-core-blue-50: #2271b1;
	--tec-wp-core-grey-0: #f6f7f7;
	--tec-wp-core-grey-2: #f0f0f1;
	--tec-wp-core-grey-50: #646970;
	--tec-wp-core-grey-80: #2c3338;
	--tec-scales-grey-200: #e0e0e0;
	--tec-color-wp-error: #d63638;

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------------- */
	--tec-admin-border-radius-0: 8px;
	--tec-admin-border-radius-1: 12px;
	--tec-admin-border-radius-round: 100%;

	/* -----------------------------------------------------------------------------
	 * Spacing
	 * ----------------------------------------------------------------------------- */
	--tec-spacer-onboarding-content-min-width: 360px;
	/* -----------------------------------------------------------------------------
	 * Line Height
	 * ----------------------------------------------------------------------------- */

	--tec-admin-line-height-0: 1.25;
}
