/**
*  Event Tickets - Tickets Admin Blocks Stylesheet.
*
*  @since 5.2.3
*/

.block-editor-inserter__panel-header .dashicons-tec-tickets {
	background-image: url('../images/tec-tickets-logo.svg');
	background-size: cover;
	display: inline-block;
	height: 20px;
	width: 26px;
}
