

.tickets_page_tickets-setup {
	@media(min-width: 1024px) {
		.tec-admin-page {
			background-image: url('../images/setup-bg.png');
			background-position: right calc(var(--tec-spacer-7) * -1);
			background-repeat: no-repeat;
		}
	}
}
