/**
 * Event Tickets - Tickets Admin WP Stylesheet.
 * Styles for the WordPress admin area when not in the Event Tickets context.
 *
 * @since 5.5.11
 */

#dashboard_right_now a.tec-tickets-attendees-count:before,
#dashboard_right_now span.tec-tickets-attendees-count:before {
	content: "\f307";
}
