
.event-tickets__admin-banner {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 20px 0;
	padding: 8px 24px 12px;
	border-left: 5px solid #0073AA;

	a {
		text-decoration: none;
	}

	p.event-tickets__admin-banner-help-text {
		max-width: 690px;
	}
}

.event-tickets__admin-banner-help-links-wrapper {
	display: flex;
	max-width: 690px;

	div {
		min-width: 50%;
	}
}

.event-tickets__admin-banner-links h3 {
	font-size: 14px;
}