.tribe-editor__warning-button {
	align-items: center;
	display: flex;
}

.tribe-editor__warning-button-text {
	color: #e7563b;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.38px;
	line-height: 18px;

	.tribe-editor__tickets--loading & {
		color: #aeb4bb;
	}
}

svg.tribe-editor__warning-button-icon {
	fill: #e7563b;
	height: 17px;
	margin-right: 5px;
	width: 17px;

	.tribe-editor__tickets--loading & {
		fill: #aeb4bb;
	}
}
