.tribe-editor__date-time-range-picker {
	display: flex;
	flex-wrap: wrap;
}

.tribe-editor__date-time-range-picker__start,
.tribe-editor__date-time-range-picker__end {
	flex: none;
	display: flex;
	align-items: center;
	width: 100%;
}

.tribe-editor__date-time-range-picker__start {
	flex: none;
	width: calc( 100% - 55px );
	margin-left: 55px;
	margin-bottom: 15px;
}

.DayPickerInput {

	.tribe-editor__date-time-range-picker & {
		flex: 1;
	}
}

.tribe-editor__date-time-range-picker__separator {

	.tribe-editor__date-time-range-picker & {
		color: #8d949b;
		flex: none;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.4px;
	}
}

.tribe-editor__date-time-range-picker__separator--date-time {

	.tribe-editor__date-time-range-picker & {
		margin: 0 15px;
	}
}

.tribe-editor__date-time-range-picker__separator--time-range {

	.tribe-editor__date-time-range-picker & {
		margin: 0 7px 0 28px;
		width: 20px;
	}
}

.tribe-editor__timepicker {

	.tribe-editor__date-time-range-picker & {
		flex: none;
	}
}
