.tribe-editor__image-upload__title {

	.tribe-editor__rsvp__settings-dashboard--loading & {
		color: #AEB4BB;
	}
}

.tribe-editor__image-upload__content p.tribe-editor__image-upload__description {

	.tribe-editor__rsvp__settings-dashboard--loading & {
		color: #AEB4BB;
	}
}

.tribe-editor__image-upload__image {

	.tribe-editor__rsvp__settings-dashboard--loading & {
		opacity: 0.5;
	}
}
