/**
 * Event Tickets - Tickets Commerce Free Gateway Stylesheet.
 *
 * @since 5.10.0
 */
.event-tickets {
	.tribe-tickets__commerce-checkout-section-header {
		margin-bottom: var(--tec-spacer-5);
	}
}
