/**
 * Event Tickets - Tickets Commerce PayPal Stylesheet
 *
 * @since TBD
 */

@import "_advanced-payments.pcss";

.event-tickets {
	.tribe-tickets__commerce-checkout-paypal-buttons {
		position: relative;
		z-index: 1;
	}
}
