/**
 * Event Tickets Commerce Admin Gateway Dialogs
 *
 * @since 5.24.0
 */

.tec-tickets__admin-settings-tickets-commerce-gateway-dialog {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100000;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-dialog-content {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	max-width: 500px;
	padding: 30px;
	position: relative;
	width: 100%;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-dialog-content h3 {
	font-size: 20px;
	margin-top: 0;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-dialog-buttons {
	margin-top: 20px;
	text-align: right;
}

.tec-tickets__admin-settings-tickets-commerce-gateway-dialog-buttons .button {
	margin-left: 10px;
}

/* WP doesn't have a standard danger button, so we create our own */
.tec-tickets__admin-settings-tickets-commerce-gateway-dialog-buttons .button.button-danger {
	background: #d63638;
	border-color: #d63638;
	color: #fff;

	&:hover,
	&:focus {
		background: #b32d2e;
		border-color: #b32d2e;
		color: #fff;
	}

	&:active {
		background: #8c2626;
		border-color: #8c2626;
	}
}

.tec-tickets__admin-settings-tickets-commerce-gateway-disconnect-square-button.loading {
	opacity: 0.8;
	pointer-events: none;
	position: relative;

	&::after {
		animation: spin 1s linear infinite;
		border: 2px solid rgba(0, 0, 0, 0.3);
		border-radius: 50%;
		border-top-color: #d63638;
		content: "";
		height: 16px;
		margin-left: 8px;
		margin-top: -11px;
		position: absolute;
		right: -30px;
		top: 50%;
		width: 16px;
	}
}

@keyframes spin {

	to {
		transform: rotate(360deg);
	}
}
